	
{% extends 'website/base.html' %}

{% load staticfiles %}

{% block pagetitle %}Classroom{% endblock %}
    

{% block content %}
	<div class="jumbotron" style="padding-top: 110px; margin: 0px; border: 0px; background-image: url({% static 'website/classroom.jpg' %}); background-size: cover; height: 100vh; text-align: center;">
		<h1 style="margin-top: 0px;">Hello there!</h1>
		<p>Welcome to the Student Assessment Tool</p>
		<p><a class="btn btn-primary btn-lg" href="#about" role="button">Learn more</a></p>
	</div>
	<div class="container-fluid" id="about">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center" style="padding-top:60px;">
				<h2>About</h2>
			</div>
			<div class="col-md-8 col-md-offset-2 text-justify" style="padding-top: 40px; padding-bottom: 60px;">
				<p class="lead">
					<strong>Classroom</strong> is an interactive Student Assessment Tool for E-Learning and Classroom Response System. It is targeted towards a wide educational audience of Learners, Instructors, Developer and Expert Analyzer. It allows the learner access to learning materials and resources provided by the instructors. Also, it allows them to gain knowledge and closely monitor their learning path and activities. It allows the learners to share resources amongst each other for combined studies. It has a useful feedback system. Learners can also monitor and evaluate their progress.
				</p>
			</div>
		</div>
		<div class="row" style="background-color: #3B653D; color: white; font-family: 'Fredericka the Great', cursive; padding-top:100px; padding-bottom: 100px;">
			<div class="col-md-3" style="text-align: center;">
				<span class="glyphicon glyphicon-search" aria-hidden="true" style="font-size: 80px; color: white;"></span><br/><br/><br/>
				<h3 class="text-center">Search Learning Material</h3>
			</div>
			<div class="col-md-3" style="text-align: center;">
				<span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 80px; color: white;"></span><br/><br/><br/>
				<h3 class="text-center">Evaluate Performance</h3>
			</div>
			<div class="col-md-3" style="text-align: center;">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 80px; color: white;"></span><br/><br/><br/>
				<h3 class="text-center">Provide Feedback</h3>
			</div>
			<div class="col-md-3" style="text-align: center;">
				<span class="glyphicon glyphicon-education" aria-hidden="true" style="font-size: 80px; color: white;"></span><br/><br/><br/>
				<h3 class="text-center">Graduate with Flying Colours</h3>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="contact"  style="background-color: #DDDDDD;">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center" style="padding-top:60px;">
				<h2>Contact</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center"  style="padding-top:40px;">
				<address>
				  <strong>Classroom, Inc.</strong><br>
				  D317, Mega Tower 2<br>
				  NITK, Surathkal - 575025<br>
				  <abbr title="Phone">Ph:</abbr> +91 9611638180
				</address>

				<address>
				  <strong>Samyak Jain</strong><br>
				  <a href="mailto:samyak24jain@gmail.com">samyak24jain@gmail.com</a>
				</address>
			</div>			
		</div>
		<div class="row text-justify">
			<div class="col-md-1 col-md-offset-4">
				<p><a href="#about">About</a></p>
			</div>
			<div class="col-md-1">
				<p><a href="https://github.com/samyak24jain/Student-Assessment-Tool">GitHub</a></p>
			</div>
			<div class="col-md-1">
				<p><a href="https://www.facebook.com/samyak24jain">Facebook</a></p>
			</div>
			<div class="col-md-1">
				<p><a href="https://in.linkedin.com/in/samyak24jain">LinkedIn</a></p>
			</div>
		</div>
	</div>
{% endblock %}