{% extends 'website/base.html' %}

{% load staticfiles %}

{% block pagetitle %}{{ user.first_name }} | Classroom{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row text-center" style="margin-top: 110px;">
		<div class="col-md-8 col-md-offset-2">
			<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" href="#performance">Evaluate Performance</a></li>
			  <li><a data-toggle="tab" href="#feedback">Feedback</a></li>
			  <li><a data-toggle="tab" href="#material">Learning Material</a></li>
			</ul>

			<div class="tab-content">
			  <div id="performance" class="tab-pane fade in active">
			    <h3>Evaluate Performance</h3>
			    <canvas id="myChart" width="400" height="200" style="border:1px solid #000000;"> </canvas>
			  </div>
			  <div id="feedback" class="tab-pane fade">
			    <h3>Feedback</h3>
			    <form class="form-horizontal" role="form" action="{% url 'website:feedback' %}" method="post" enctype="multipart/form-data" style="display: inline-block;">
			    	{% csrf_token %}
			        {% include 'website/form_template.html' %}
			        <div class="form-group">
			            <div class="col-sm-offset-2 col-sm-10">
			                <button type="submit" class="btn btn-success">Submit</button>
			            </div>
			        </div>
			    </form>
			  </div>
			  <div id="material" class="tab-pane fade">
			    <h3>Learning Material</h3>
			    <p>Learning resources and material.</p>
			  </div>
			</div>	
		</div>
	</div>


	<script type="text/javascript">
	
		function plot() {
			var graphData = [{{marks.mq1}}, {{marks.mq2}}, {{marks.mq3}}, {{marks.mlq}}, {{marks.eq1}}, {{marks.eq2}}, {{marks.eq3}}, {{marks.eq4}}, {{marks.elq}}, {{marks.assignment}}, {{marks.project}},]
			var ctx = document.getElementById('myChart');
			var data = {
				labels:['Midsem Q1','Midsem Q2','Midsem Q3','Midsem Lab Q', 'Endsem Q1', 'Endsem Q2','Endsem Q3','Endsem Q4','Endsem Lab Q','Assignment','Project'], 
				datasets:[
						{
							data:graphData,
							label:'Marks Plot',
							backgroundColor: 'rgba(54, 162, 235, 0.2)',
				            borderColor: 'rgba(54, 162, 235, 1)',
				            borderWidth: 2,
				            fill: false,
						}
					],
			};
			var myLineChart = new Chart(ctx, {
			    type: 'line',
			    data: data,
			});
		};
		plot();

	</script>

</div>		
{% endblock %}